<!DOCTYPE html>
<html lang="en">

<head>
    <title>HintGen Prototype</title>
    <link rel="stylesheet" type="text/css" href="static/styles/home.css">
</head>

<body>
    <div class="container">
        <h1 class="header">Hint Generation Project website!</h1>

        <div class="sub-container">
            <div class="info">
                <p>Garbage Info - HintGen is a prototype for a tool that generates hints for programming problems. It uses GPT-3 to generate hints based on the problem description and the user's code. The prototype is a simple web interface that allows you to enter a problem description and your code, and it will generate hints based on that input.</p>
            </div>

            <h2 class="redirect-title">Important Links</h2>
            <div class="redirect">
                <p><a href="/annotate">HintEval annotation webpage</a> - The link to the annotation webpage where you can annotate hints.</p>
                <p><a href="/custom">Custom question webpage</a> - The link to custom hint generation webpage where you can generate hints for custom question-answer pairs (using LLMs).</p>
                <!-- <p><a href="/plots_old">Plots webpage (March 2025 Pilot)</a></p> -->
                <p><a href="/plots">Plots webpage (August 2025 study)</a></p>
            </div>

            <h2 class="pub-title">Publications</h2>
            <div class="papers">
                <ul>
                    <li class="paper">Navigating the Landscape of Hint Generation Research: From the Past to the Future. Anubhav Jangra, Jamshid Mozafari, Adam Jatowt, Smaranda Muresan. Transactions of the Association for Computational Linguistics (2025) 13: 505–528. [<a href="https://doi.org/10.1162/tacl_a_00751" target="_blank">Pre-print</a>]</li>
                </ul>
            </div>

            <h2 class="members-title">Contact</h2>
            <div class="members">
                <div class="member">
                    <div class="member-image-container">
                        <img class="member-image" src="static/images/anubhav.jpg" alt="Anubhav Jangra">
                    </div>
                    <p class="member-desc"><a href="https://anubhav-jangra.github.io/" target="_blank">Anubhav Jangra</a></p>
                </div>

                <div class="member">
                    <div class="member-image-container">
                        <img class="member-image" src="static/images/smara.jpeg" alt="Smarana Muresan">
                    </div>
                    <p class="member-desc"><a href="https://www.cs.columbia.edu/~smara/" target="_blank">Smaranda Muresan</a></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>